# Environment variables
.env
.env.*
!.env.example

# Node / pnpm
node_modules/
dist/
build/
coverage/

# Nx
.nx/cache
.nx/workspace-data

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

vitest.config.*.timestamp*